@{
    ViewData["Title"] = "Login_Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var WishList = ViewBag.Wishlist;
}

<!DOCTYPE html>
<html lang="en">

<body>
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <br />
                <div class="col-md-5 order-details" style=" margin-top: 35px;">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title text-center" >
                            <h3 class="title" style="color: #D10024;">LogIn</h3>
                        </div>
                        <div class="caption" id="createAccDiv">
                            <div class="form-group">
                                <input id="telephone1" class="input" type="tel" placeholder="Telephone">
                                <span id="validphone11" style="display: none; font-size: 13px; color: #D10024">Please enter your Phone</span>
                                <span id="validphone12" style="display: none; font-size: 13px; color: #D10024">This Phone isn’t Exist !!</span>
                                <span id="validphone13" style="display: none; font-size: 13px; color: #D10024">You must write only numbers</span>
                                <span id="validphone14" style="display: none; font-size: 13px; color: #D10024">Phone must be 11 numbers</span>
                            </div>
                            <div class="form-group">
                                <input id="password1" class="input" type="password" placeholder="Password">
                                <span id="validpassword11" style="display: none; font-size: 13px; color: #D10024" >Please enter your Password</span>
                                <span id="validpassword12" style="display: none; font-size: 13px; color: #D10024">Password is Wrong , Try again..</span>
                            </div>
                        </div>
                        <button id="btnLogin" class="primary-btn btn-block order-submit">LogIn &nbsp; <i class="fa fa-sign-in"></i> </button>

                    </div>
                    <!-- /Billing Details -->
                    <!-- Order notes -->
                    <!--<div class="order-notes">
                        <textarea class="input" placeholder="Order Notes"></textarea>
                    </div>-->
                    <!-- /Order notes -->
                </div>
                <!-- Order Details -->
                <div class="col-lg-offset-7 order-details" style=" margin-top: 35px;">
                    <div class="billing-details">
                        <div class="section-title text-center">
                            <h3 class="title" style="color: #D10024;">Create Account</h3>
                        </div>
                        <div class="caption" id="createAccDiv">
                            <div class="form-group">
                                <input id="fname" class="input" type="text" placeholder="First Name">
                                <span id="validfname" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                            </div>
                            <div class="form-group">
                                <input id="lname" class="input" type="text" placeholder="Last Name">
                                <span id="validlname" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                            </div>
                            <div class="form-group">
                                <input id="telephone2" class="input" type="tel" placeholder="Telephone">
                                <span id="validphone21" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                                <span id="validphone22" style="display: none; font-size: 13px; color: #D10024">This phone is already Exist !!</span>
                                <span id="validphone23" style="display: none; font-size: 13px; color: #D10024">You must write only numbers</span>                                
                                <span id="validphone24" style="display: none; font-size: 13px; color: #D10024">Phone must be 11 numbers</span>   
                            </div>
                            <div class="form-group">
                                <input id="password2" class="input" type="password" placeholder="Password">
                                <span id="validpassword21" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                            </div>
                            <div class="form-group">
                                <input id="password3" class="input" type="password" placeholder="Confirm Password">
                                <span id="validpassword22" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                                <span id="validpassword23" style="display: none; font-size: 13px; color: #D10024">Passwords must be matched</span>
                            </div>
                        </div>
                        <button id="btnRegist" class="primary-btn btn-block order-submit">Register &nbsp; <i class="fa fa-user"></i></button>
                    </div>
                </div>
                    <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- jQuery Plugins -->
    <script src="~/js/jquery.min.js"></script>

    <script>

        function GoToHome(id) {
            window.location = "/Home/Index";
        }

        $(document).ready(function () {

            $('#telephone1').keyup(function() {
                $('#validphone13').hide();
                $('#validphone14').hide();
                var telephone1 = $('#telephone1').val();
                if (telephone1 == "") {
                    $('#validphone13').hide();
                }
                else if (jQuery.isNumeric(telephone1) != true) {
                    $('#validphone13').show();
                }
                else if (telephone1.length > 11) {
                    $('#validphone14').show();
                }
            });

            $('#telephone2').keyup(function() {
                $('#validphone23').hide();
                $('#validphone24').hide();
                var telephone1 = $('#telephone2').val();
                if (telephone1 == "") {
                    $('#validphone23').hide();
                }
                else if (jQuery.isNumeric(telephone1) != true) {
                    $('#validphone23').show();
                }
                else if (telephone1.length > 11) {
                    $('#validphone24').show();
                }
            });

            $('#password3').keyup(function() { 
                var password2 = $('#password2').val();
                var password3 = $('#password3').val();
                if(password2.includes(password3)){
                    $('#validpassword23').hide();
                }
                else{
                    $('#validpassword23').show();
                }
            });

            $('#btnLogin').click(function () {

                $('#validphone11').hide();
                $('#validpassword11').hide();
                $('#validphone12').hide();
                $('#validphone14').hide();
                $('#validpassword12').hide();


                var telephone1 = $('#telephone1').val();
                var password1 = $('#password1').val();
                if (telephone1 == "" || telephone1 == undefined) {
                    $('#validphone11').show();
                }
                if (password1 == "" || password1 == undefined) {
                    $('#validpassword11').show();
                }
                if (telephone1.length != 11) {
                    $('#validphone14').show();
                }
                else {
                    $.ajax({
                        url: "/Home/Login?Password=" + password1 +
                            "&Telephone=" + telephone1 +"&WishList=@WishList",
                        type: "GET",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result == "this phone isn't exist") {
                                $('#validphone12').show();
                            }
                            else if (result == "wrong password") {
                                $('#validpassword12').show();
                            }
                            else if (result == "WishList") {
                                window.location = "/Home/WishList";
                            }
                            else if (result == "chat") {
                                window.location = "/Home/Chat";
                            }
                            else {
                                GoToHome(result);
                            }
                        }
                    });
                }

            });


            $('#btnRegist').click(function () {
                var fname = $('#fname').val();
                var lname = $('#lname').val();
                var telephone2 = $('#telephone2').val();
                var password2 = $('#password2').val();
                var password3 = $('#password3').val();

                $('#validfname').hide();
                $('#validlname').hide();
                $('#validphone21').hide();
                $('#validphone22').hide();
                $('#validphone24').hide();
                $('#validpassword21').hide();
                $('#validpassword22').hide();
                $('#validpassword23').hide();

                if (fname == "" || fname == undefined) {
                    $('#validfname').show();
                }
                if (lname == "" || lname == undefined) {
                    $('#validlname').show();
                }
                if (telephone2 == "" || telephone2 == undefined) {
                    $('#validphone21').show();
                }
                if (password2 == "" || password2 == undefined) {
                    $('#validpassword21').show();
                }
                if (password3 == "" || password3 == undefined) {
                    $('#validpassword22').show();
                }
                if (password2 != password3) {
                    $('#validpassword23').show();
                }
                if (telephone2.length != 11) {
                    $('#validphone24').show();
                }
                else {
                    $.ajax({
                        url: "/Home/Register?FName=" + fname +
                            "&LName=" + lname +
                            "&Telephone=" + telephone2 +
                            "&Password=" + password2+"&WishList=@WishList",
                        type: "GET",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result == "this phone is already exist") {
                                $('#validphone22').show();
                            }
                            else if (result == "WishList") {
                                window.location = "/Home/WishList";
                            }
                            else if (result == "chat") {
                                window.location = "/Home/Chat";
                            }
                            else {
                                GoToHome(result);
                            }
                        }
                    });
                }

            });

        });
    </script>
</body>
</html>
