@model IEnumerable<BLL.ViewModel.ChatVM>
@{
    ViewBag.Title = "Chats";
    var AdminID = ViewBag.adminId;
    var AdminName = ViewBag.adminName;
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<style>
    body {
        background-color: #f4f7f6;
        margin-top: 20px;
    }

    .card {
        background: #fff;
        transition: .5s;
        border: 0;
        margin-bottom: 30px;
        border-radius: .55rem;
        position: relative;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    }

    .chat-app .people-list {
        width: 280px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
        z-index: 7
    }

    .chat-app .chat {
        margin-left: 280px;
        border-left: 1px solid #eaeaea
    }

    .people-list {
        -moz-transition: .5s;
        -o-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s
    }

        .people-list .chat-list li {
            padding: 10px 15px;
            list-style: none;
            border-radius: 3px
        }

            .people-list .chat-list li:hover {
                background: #efefef;
                cursor: pointer
            }

            .people-list .chat-list li.active {
                background: #efefef
            }

            .people-list .chat-list li .name {
                font-size: 15px
            }

        .people-list .chat-list img {
            width: 45px;
            border-radius: 50%
        }

        .people-list img {
            float: left;
            border-radius: 50%
        }

        .people-list .about {
            float: left;
            padding-left: 8px
        }

        .people-list .status {
            color: #999;
            font-size: 13px
        }

    .chat .chat-header {
        padding: 15px 20px;
        border-bottom: 2px solid #f4f7f6
    }

        .chat .chat-header img {
            float: left;
            border-radius: 40px;
            width: 40px
        }

        .chat .chat-header .chat-about {
            float: left;
            padding-left: 10px
        }

    .chat .chat-history {
        padding: 20px;
        border-bottom: 2px solid #fff
    }

        .chat .chat-history ul {
            padding: 0
        }

            .chat .chat-history ul li {
                list-style: none;
                margin-bottom: 30px
            }

                .chat .chat-history ul li:last-child {
                    margin-bottom: 0px
                }

        .chat .chat-history .message-data {
            margin-bottom: 15px
        }

            .chat .chat-history .message-data img {
                border-radius: 40px;
                width: 40px
            }

        .chat .chat-history .message-data-time {
            color: #434651;
            padding-left: 6px
        }

        .chat .chat-history .message {
            color: #444;
            padding: 18px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            display: inline-block;
            position: relative
        }

            

        .chat .chat-history .my-message {
            background: #efefef
        }

            .chat .chat-history .my-message:after {
                bottom: 100%;
                left: 30px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: #efefef;
                border-width: 10px;
                margin-left: -10px
            }

        .chat .chat-history .other-message {
            background: #e8f1f3;
            text-align: left;
        }

            .chat .chat-history .other-message:after {
                border-bottom-color: #e8f1f3;
                left: 93%
            }

    .chat .chat-message {
        padding: 20px
    }

    .online,
    .offline,
    .me {
        margin-right: 2px;
        font-size: 8px;
        vertical-align: middle
    }

    .online {
        color: #86c541
    }

    .offline {
        color: #e47297
    }

    .me {
        color: #1d8ecd
    }

    .float-right {
        float: right
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0
    }

    .text-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
<input id="hiddenInput" hidden />
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" id="txtsearch" placeholder="Search...">
                    </div>
                    <ul id="userinfo" class="list-unstyled chat-list mt-2 mb-0">
                        @foreach (var item in Model)
                        {
                            <li onclick="OpenChat(@item.UserId)" class="clearfix">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                <div class="about" style=" width: 78% ">
                                    <div class="name">@item.UserName</div>
                                    <div class="status text-truncate"> <i class="fa fa-circle offline"></i> @item.MessageText </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul id="userinfo2" class="list-unstyled chat-list mt-2 mb-0" style="display:none;">
                        
                    </ul>
                </div>
                <div id="nomessages" class="chat row" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 28pc; text-align: center ">
                    <img src="~/ElaAdmin-master/ElaAdmin-master/images/messages3.jpg" />
                    <h4>Select a chat to display messages</h4>
                </div>
                <div id="messagearea" style="display:none" class="chat">
                    <div id="messageList">
                        
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div id="sendButton" class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input type="text" id="msg" class="form-control" placeholder="Enter text here...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/jquery.min.js"></script>
<script>
    "use strict";
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    var adminId=@AdminID;
    var adminName = "@AdminName";//هستخدمها اني احطها فوق الماسدج
    var lastAdminName = '';

    debugger;

    document.getElementById("sendButton").disabled = true;
    $(document).ready(function () {
        $('#txtsearch').keyup(function () {
            var Search = $('#txtsearch').val();
            var src = '';
            if (Search != "") {
                $.ajax({
                    url: "/Admin/Admin/Search?src=" + Search,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $("#userinfo").css('display', 'none');
                        $("#userinfo2").css('display', 'block');
                        if (result.length == 0) {
                            src += '<li style="text-align:center;">No Results</li>';
                        }
                        else {
                            $.each(result, function (key, item) {
                                src += '<li onclick="OpenChat(' + item.userId + ')" class="clearfix">' +
                                    '<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">' +
                                    '<div class="about" style=" width: 78% "><div class="name">' + item.userName + '</div>' +
                                    '<div class="status text-truncate"> <i class="fa fa-circle offline"></i> ' + item.messageText + ' </div></div></li>';
                            });
                        }
                        $("#userinfo2").html(src);
                    }
                });
            }
            else {
                $("#userinfo").css('display', 'block');
                $("#userinfo2").css('display', 'none');
            }

        });
    });




    connection.on("ReceiveMessage", function (message, txt, senderid, userid,time) {
        var userId = parseInt(document.getElementById("hiddenInput").value);
        debugger;
        //var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");  بيحول الرموز لحجات تانيه
        if (senderid == userId || userid == userId) {
            debugger;
            if (txt == "My text as admin") {
                var html = '';
                html += '<li class="clearfix" style="margin-right: 10%;">';
                if (lastAdminName != adminName) {
                    html += '<div class="message-data" > Admin: ' + adminName + '</div>';
                    lastAdminName = adminName;
                    html += '<div class="message my-message">';
                }
                else {
                    html += '<div style="position: unset;" class="message my-message " style="word-break: break-word;">';
                }
                html +=message;
                html += '</br><span style="font-size: xx-small;" >';
                html += time;
                html += '</span></div></li>';

                $("#newMessage").append(html);
            }
            else {
                var html = '';

                html += '<li class="clearfix" style="margin-left: 10%;"><div class="message-data text-right"><span class="message-data-time">';
                html += '</span></div><div class="message other-message float-right" style="word-break: break-word;">';
                html += message;
                html += '</br><span style="font-size: xx-small;" >';
                html += time;
                html += '</span></div></li>';

                $("#newMessage").append(html);
            }
        }

    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (arr) {
        return console.error(arr.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var message = document.getElementById("msg").value;
        var userId = parseInt(document.getElementById("hiddenInput").value);
        var to = "";
        connection.invoke("SendMessage", adminId, message, to, userId).then(function () {
            document.getElementById("msg").value = "";
        }).catch(function (arr) {
            return console.error(arr.toString());
        });
        event.preventDefault();
    });

    function OpenChat(userid) {
        $('#txtsearch').val("");
        $("#userinfo").css('display', 'block');
        $("#userinfo2").css('display', 'none');
        var html = '';
        var html2 = '';
        var name = '';
        $("#messagearea").css('display', 'block');
        $("#nomessages").css('display', 'none');
        $("#hiddenInput").val(userid);
        $.ajax({
            type: "GET",
            url: "/Admin/Admin/GetMessages?userid="+userid,
            dataType: "json",
            success: function (result) {
                $.each(result, function (key, item) {
                    if (item.adminOrNot == true) {
                        html += '<li class="clearfix" style="margin-right: 10%;">';
                        if (lastAdminName != item.adminName) {
                            html += '<div class="message-data" > Admin: ' + item.adminName + '</div>';
                            lastAdminName = item.adminName;
                            html += '<div class="message my-message" style="word-break: break-word;">';
                        }
                        else {
                            html += '<div style="position: unset;" class="message my-message" style="word-break: break-word;">';
                        }
                        html += item.messageText;
                        html += '</br><span style="font-size: xx-small;" >';
                        html += item.time;
                        html +='</span></div></li>';
                    }
                    else {
                        name = item.userName;
                        html += '<li class="clearfix" style="margin-left: 10%;"><div class="message-data text-right">';
                        html += '</div><div class="message other-message float-right" style="word-break: break-word;">';
                        html += item.messageText;
                        html += '</br><span style="font-size: xx-small;" >';
                        html += item.time;
                        html += '</span></div></li>';
                    }
                });
                html2 += '<div class="chat-header clearfix"><div class="row"><div class="col-lg-6"><div class="chat-about">';
                html2 += '<h6 class="m-b-0">';
                html2 += name;
                html2 += '</h6><small>Last seen: 2 hours ago</small></div></div></div></div>';
                html2 += '<div class="chat-history"><ul id="newMessage" class="m-b-0">';
                html2 += html;
                html2 += '</ul></div>';
                $("#messageList").html(html2);
            }
        });
    }
</script>
