@model DataModel.Models.Ssd

@{
    ViewData["Title"] = "CreateSsd";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var brands = ViewBag.Brands;
}
<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active"> SSD </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Update SSD</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form method="post" asp-action="CreateSsd">
                                        <div class="form-group">
                                            <label asp-for="Ssdcode" class="control-label">Code</label>
                                            <input placeholder="SSD10" asp-for="Ssdcode" class="form-control" />
                                            <span asp-validation-for="Ssdcode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Ssdname" class="control-label">Name</label>
                                            <input asp-for="Ssdname" class="form-control" />
                                            <span asp-validation-for="Ssdname" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SsdbrandId" class="control-label">Brand</label>
                                            <select asp-for="SsdbrandId" class="form-control">
                                                @if (brands != null)
                                                {
                                                    foreach (var item in brands)
                                                    {

                                                        <option value="@item.BrandId">@item.BrandName</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Ssdprice" class="control-label">Price</label>
                                            <input asp-for="Ssdprice" class="form-control" />
                                            <span asp-validation-for="Ssdprice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Ssdquantity" class="control-label">Quantity</label>
                                            <input asp-for="Ssdquantity" class="form-control" />
                                            <span asp-validation-for="Ssdquantity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Ssdsize" class="control-label">Size</label>
                                            <input asp-for="Ssdsize" class="form-control" />
                                            <span asp-validation-for="Ssdsize" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Ssdinterface" class="control-label">Interface</label>
                                            <input asp-for="Ssdinterface" class="form-control" />
                                            <span asp-validation-for="Ssdinterface" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Add" class="btn btn-default" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="Ssd">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" style="background: #f1f2f7;">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style=" display: flex; justify-content: space-between;">
                        <strong class="card-title">Deleted SSD Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="tblDeletedSsd" class="table table-striped table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $.ajax({
            type: "POST",
            url: "/Admin/Admin/SsdData?data=DeletedData",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function(response) {
                alert(response.d);
            },
            error: function(response) {
                alert(response.d);
            }
        });
    });
    function OnSuccess(response) {
        $("#tblDeletedSsd").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                columns: [{ title: 'Code', 'data': 'ssdcode', className: 'vertical' },
                { title: 'Name', 'data': 'ssdname', className: 'vertical' },
                { title: 'Brand', 'data': 'brandName', className: 'vertical' },
                { title: 'Price', 'data': 'ssdprice', className: 'vertical' },
                { title: 'Quantity', 'data': 'ssdquantity', className: 'vertical' },
                { title: 'Size(GB)', 'data': 'ssdsize', className: 'vertical' },
                { title: 'Interface', 'data': 'ssdinterface', className: 'vertical' },
                {
                    title: '', data: null, className: 'fontawesomevertical',
                    "render": function(data, type, full, meta) {
                        return '<a href="/Admin/Admin/AddDeletedSsd?code=' + full.ssdcode + '"><i style="color:darkblue; font-size:large;" class="fa fa-solid fa-plus"></i></a>';
                    }
                }]

            });
    };
</script>

