@model DataModel.Models.PowerSupply

@{
    ViewData["Title"] = "Add Powersupply";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var brands = ViewBag.Brands;
}
<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active"> Power Supply </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Add Power Supply</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form method="post" asp-action="CreatePowersupply">

                                        <div class="form-group">
                                            <label asp-for="Psucode" class="control-label">Code</label>
                                            <input placeholder="PS10" asp-for="Psucode" class="form-control" />
                                            <span asp-validation-for="Psucode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Psuname" class="control-label">Name</label>
                                            <input asp-for="Psuname" class="form-control" />
                                            <span asp-validation-for="Psuname" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PsubrandId" class="control-label">Brand</label>
                                            <select asp-for="PsubrandId" class="form-control">
                                                @if (brands != null)
                                                {
                                                    foreach (var item in brands)
                                                    {

                                                        <option value="@item.BrandId">@item.BrandName</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Psuprice" class="control-label">Price</label>
                                            <input asp-for="Psuprice" class="form-control" />
                                            <span asp-validation-for="Psuprice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Psuquantity" class="control-label">Quantity</label>
                                            <input asp-for="Psuquantity" class="form-control" />
                                            <span asp-validation-for="Psuquantity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Psuwatt" class="control-label">Watt</label>
                                            <input asp-for="Psuwatt" class="form-control" />
                                            <span asp-validation-for="Psuwatt" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Psucertificate" class="control-label">Certificate</label>
                                            <input asp-for="Psucertificate" class="form-control" />
                                            <span asp-validation-for="Psucertificate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Add" class="btn btn-default" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="PowerSupply">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style=" display: flex; justify-content: space-between;">
                        <strong class="card-title">Deleted PowerSupply Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="tblDeletedPsu" class="table table-striped table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $.ajax({
            type: "POST",
            url: "/Admin/Admin/PowerSupplyData?data=DeletedData",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function(response) {
                alert(response.d);
            },
            error: function(response) {
                alert(response.d);
            }
        });
    });
    function OnSuccess(response) {
        $("#tblDeletedPsu").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                columns: [{ title: 'Code', 'data': 'psucode', className: 'vertical' },
                { title: 'Name', 'data': 'psuname', className: 'vertical' },
                { title: 'Brand', 'data': 'brandName', className: 'vertical' },
                { title: 'Price', 'data': 'psuprice', className: 'vertical' },
                { title: 'Quantity', 'data': 'psuquantity', className: 'vertical' },
                { title: 'Watt', 'data': 'psuwatt', className: 'vertical' },
                { title: 'Certificate', 'data': 'psucertificate', className: 'vertical' },
                { 'data': null, defaultContent: '<a href="" class="btn-sm btn btn-success">Add To Cases</a>', className: 'vertical' }]

            });
    };
</script>