@model DataModel.Models.Processor

@{
    ViewData["Title"] = "Add Processor";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var brands = ViewBag.Brands;
}

<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active"> Processor </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Add Processor</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form method="post" asp-action="CreateProcessor">
                                        <div class="form-group">
                                            <label asp-for="ProCode" class="control-label">Code</label>
                                            <input placeholder="Pr10" asp-for="ProCode" class="form-control" />
                                            <span asp-validation-for="ProCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProName" class="control-label">Name</label>
                                            <input asp-for="ProName" class="form-control" />
                                            <span asp-validation-for="ProName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProBrandId" class="control-label">Brand</label>
                                            <select asp-for="ProBrandId" class="form-control">
                                                @if (brands != null)
                                                {
                                                    foreach (var item in brands)
                                                    {

                                                        <option value="@item.BrandId">@item.BrandName</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProPrice" class="control-label">Price</label>
                                            <input asp-for="ProPrice" class="form-control" />
                                            <span asp-validation-for="ProPrice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProQuantity" class="control-label">Quantity</label>
                                            <input asp-for="ProQuantity" class="form-control" />
                                            <span asp-validation-for="ProQuantity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProCores" class="control-label">Cores</label>
                                            <input asp-for="ProCores" class="form-control" />
                                            <span asp-validation-for="ProCores" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProSocket" class="control-label">Socket</label>
                                            <input placeholder="LGA1200" asp-for="ProSocket" class="form-control" />
                                            <span asp-validation-for="ProSocket" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProThreads" class="control-label">Threads</label>
                                            <input asp-for="ProThreads" class="form-control" />
                                            <span asp-validation-for="ProThreads" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProBaseFreq" class="control-label">Base Frequency</label>
                                            <input asp-for="ProBaseFreq" class="form-control" />
                                            <span asp-validation-for="ProBaseFreq" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProMaxTurboFreq" class="control-label">Turbo Frequency</label>
                                            <input asp-for="ProMaxTurboFreq" class="form-control" />
                                            <span asp-validation-for="ProMaxTurboFreq" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ProLithography" class="control-label">Lithography</label>
                                            <input asp-for="ProLithography" class="form-control" />
                                            <span asp-validation-for="ProLithography" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Add" class="btn btn-default" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="Processor">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" style="background: #f1f2f7;">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style=" display: flex; justify-content: space-between;">
                        <strong class="card-title">Deleted Processor Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="tblDeletedPro" class="table table-striped table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $.ajax({
            type: "POST",
            url: "/Admin/Admin/ProcessorData?data=DeletedData",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function(response) {
                alert(response.d);
            },
            error: function(response) {
                alert(response.d);
            }
        });
    });
    function OnSuccess(response) {
        $("#tblDeletedPro").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                columns: [{ title: 'Code', 'data': 'proCode', className: 'vertical' },
                { title: 'Name', 'data': 'proName', className: 'vertical' },
                { title: 'Price', 'data': 'proPrice', className: 'vertical' },
                { title: 'Quantity', 'data': 'proQuantity', className: 'vertical' },
                { title: 'Cores', 'data': 'proCores', className: 'vertical' },
                { title: 'Threads', 'data': 'proThreads', className: 'vertical' },
                { title: 'Socket', 'data': 'proSocket', className: 'vertical' },
                { title: 'Lithography', 'data': 'proLithography', className: 'vertical' },
                {
                    title: '', data: null, className: 'fontawesomevertical',
                    "render": function(data, type, full, meta) {
                        return '<a href="/Admin/Admin/AddDeletedProcessor?code=' + full.proCode + '"><i style="color:darkblue; font-size:large;" class="fa fa-solid fa-plus"></i></a>';
                    }
                }]

            });
    };
</script>