
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<head>
    <title>Login</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/ElaAdmin-master/ElaAdmin-master/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/ElaAdmin-master/ElaAdmin-master/assets/css/style.css">


</head>

<body class="bg-dark" style="background-color: #e8f0fe; ">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="~/ElaAdmin-master/ElaAdmin-master/images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="tel" id="phone" class="form-control" placeholder="Phone">
                            <span id="validphone1" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                            <span id="validphone2" style="display: none; font-size: 13px; color: #D10024">This phone isn't Exist !!</span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="password" class="form-control" placeholder="Password">
                            <span id="validpassword1" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                            <span id="validpassword2" style="display: none; font-size: 13px; color: #D10024">Password is Wrong , Try again..</span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#">Forgotten Password?</a>
                            </label>

                        </div>
                        <button id="signin" type="button" class="btn btn-success">Sign in</button>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#signin').click(function () {
                $('#validphone1').hide();
                $('#validpassword1').hide();
                $('#validphone2').hide();
                $('#validpassword2').hide();

                var phone = $('#phone').val();
                var password = $('#password').val();

                debugger;
                if (phone == "" || phone == undefined) {
                    debugger;
                    $('#validphone1').show();
                }
                if (password == "" || password == undefined) {
                    debugger;
                    $('#validpassword1').show();
                }
                else if (phone != "" && password != "")
                {
                    debugger;
                    $.ajax({
                        url: "/Admin/Admin/EnterAccount?Telephone=" + phone +
                            "&Password=" + password,
                        type: "GET",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result == "this phone isn't exist") {
                                $('#validphone2').show();
                            }
                            else if (result == "wrong password") {
                                $('#validpassword2').show();
                            }
                            else if (result == "return to index") {
                                window.location= "/Admin/Admin/Index" ;
                            }
                        }
                    });
                }

            });
        });

    </script>
</body>