@{
    ViewData["Title"] = "Ram";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style=" display: flex; justify-content: space-between;">
                        <strong class="card-title">Processors Table</strong>
                        <button type="button" class="btn btn-outline-info">+</button>
                    </div>
                    <div class="card-body">
                        <table id="tblRam" class="table table-striped table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
</div>
<script src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "POST",
            url: "/Admin/Admin/RamData",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    });
    function OnSuccess(response) {
        $("#tblRam").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                columns: [{ title: 'Code', 'data': 'ramCode', className: 'vertical' },
                          { title: 'Name', 'data': 'ramName', className: 'vertical' },
                          { title: 'Brand', 'data': 'brandName', className: 'vertical' },
                          { title: 'Price', 'data': 'ramPrice', className: 'vertical' },
                          { title: 'Quantity', 'data': 'ramQuantity', className: 'vertical' },
                          { title: 'Type', 'data': 'ramType', className: 'vertical' },
                          { title: 'asd', 'data': 'ramType', className: 'vertical' },
                          { title: 'asd', 'data': 'ramType', className: 'vertical' },
                          {'data': null,defaultContent: '<a href="" class="btn-sm btn btn-primary">Edit</a>|<a href="" class="btn-sm btn btn-danger">Delete</a>'}]

            });
    };
</script>



