@model BLL.ViewModel.MotherboardVM

@{
    ViewData["Title"] = "UpdateMotherBoard";
    var brands = ViewBag.Brands;
}

<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active"> MotherBoard </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Update MotherBoard</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form method="post" asp-action="UpdateMotherBoard">

                                        <div class="form-group">
                                            <label asp-for="MotherCode" class="control-label">Code</label>
                                            <input placeholder="MO10" asp-for="MotherCode" class="form-control" />
                                            <span asp-validation-for="MotherCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MotherName" class="control-label">Name</label>
                                            <input asp-for="MotherName" class="form-control" />
                                            <span asp-validation-for="MotherName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MotherBrandId" class="control-label">Brand</label>
                                            <select asp-for="MotherBrandId" class="form-control">
                                                @if (brands != null)
                                                {
                                                    foreach (var item in brands)
                                                    {

                                                        <option value="@item.BrandId">@item.BrandName</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MotherPrice" class="control-label">Price</label>
                                            <input asp-for="MotherPrice" class="form-control" />
                                            <span asp-validation-for="MotherPrice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MotherQuantity" class="control-label">Quantity</label>
                                            <input asp-for="MotherQuantity" class="form-control" />
                                            <span asp-validation-for="MotherQuantity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MotherSocket" class="control-label">Socket</label>
                                            <input placeholder="LGA1200" asp-for="MotherSocket" class="form-control" />
                                            <span asp-validation-for="MotherSocket" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Add" class="btn btn-default" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

