@model DataModel.Models.Case

@{
    ViewData["Title"] = "UpdateCase";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>UpdateCase</h2>

<h4>Case</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCase">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CaseCode" class="control-label"></label>
                <input asp-for="CaseCode" class="form-control" />
                <span asp-validation-for="CaseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseName" class="control-label"></label>
                <input asp-for="CaseName" class="form-control" />
                <span asp-validation-for="CaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseBrandId" class="control-label"></label>
                <input asp-for="CaseBrandId" class="form-control" />
                <span asp-validation-for="CaseBrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasePrice" class="control-label"></label>
                <input asp-for="CasePrice" class="form-control" />
                <span asp-validation-for="CasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseQuantity" class="control-label"></label>
                <input asp-for="CaseQuantity" class="form-control" />
                <span asp-validation-for="CaseQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseFactorySize" class="control-label"></label>
                <input asp-for="CaseFactorySize" class="form-control" />
                <span asp-validation-for="CaseFactorySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

