@model BLL.ViewModel.GraphicsCardVM

@{
    ViewData["Title"] = "UpdateGraphicsCard";
    var brands = ViewBag.Brands;
}

}
<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active"> Graphics Card </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Update Graphics Card</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form method="post" asp-action="UpdateGraphicsCard">
                                        <div class="form-group">
                                            <label asp-for="Vgacode" class="control-label">Code</label>
                                            <input disabled placeholder="V10" asp-for="Vgacode" class="form-control" />
                                            <span asp-validation-for="Vgacode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Vganame" class="control-label">Name</label>
                                            <input asp-for="Vganame" class="form-control" />
                                            <span asp-validation-for="Vganame" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="VgabrandId" class="control-label">Brand</label>
                                            <select asp-for="VgabrandId" class="form-control">
                                                @if (brands != null)
                                                {
                                                    foreach (var item in brands)
                                                    {

                                                        <option value="@item.BrandId">@item.BrandName</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Vgaprice" class="control-label">Price</label>
                                            <input asp-for="Vgaprice" class="form-control" />
                                            <span asp-validation-for="Vgaprice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Vgaquantity" class="control-label">Quantity</label>
                                            <input asp-for="Vgaquantity" class="form-control" />
                                            <span asp-validation-for="Vgaquantity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Vram" class="control-label">VRam</label>
                                            <input asp-for="Vram" class="form-control" />
                                            <span asp-validation-for="Vram" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Add" class="btn btn-default" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="GraphicsCard">Back to List</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



