@model BLL.ViewModel.CaseVM

@{
    ViewData["Title"] = "UpdateCase";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var brands = ViewBag.Brands;
}
<style>
    .container {
        position: relative;
        min-width: 170px;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .overlay {
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 83%;
        opacity: 0;
        transition: .3s ease;
        background-color: #00000078;
    }

    .container:hover .overlay {
        opacity: 1;
    }

    .icon {
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
    }
</style>
<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active"> Case </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Update Case</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form method="post" asp-action="UpdateCase" enctype="multipart/form-data">

                                        <div class="form-group">
                                            <label asp-for="CaseCode" class="control-label">Code</label>
                                            <input asp-for="CaseCode" class="form-control" />
                                            <span asp-validation-for="CaseCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CaseName" class="control-label">Name</label>
                                            <input asp-for="CaseName" class="form-control" />
                                            <span asp-validation-for="CaseName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CaseBrandId" class="control-label">Brand</label>
                                            <select asp-for="CaseBrandId" class="form-control">
                                                @if (brands != null)
                                                {
                                                    foreach (var item in brands)
                                                    {

                                                        <option value="@item.BrandId">@item.BrandName</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group" style="display:flex">
                                            @if (Model.Image != null)
                                            {
                                                foreach (var image in Model.Image)
                                                {

                                                    <div class="container">
                                                        <img src="~/Images/@image" alt="@Model.CaseCode" id="img_@image" class="image img-responsive img-thumbnail">
                                                        <div class="overlay">
                                                            <label for="firstimg"><i class="fa fa-plus icon"></i></label>
                                                            <input type="file" name="" id="firstimg" style="display:none;visibility:none;" onchange="getImage(this.value, @image);" />
                                                            <div id="display-image"></div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <p>--</p>
                                            }

                                        </div>
                                        @*<div class="form-group">
                                                <label for="Photo1" class="control-label">First Image</label>
                                                <input type="file" name="Photo1" id="Photo1" class="form-control" />

                                            </div>
                                            <div class="form-group">
                                                <label for="Photo2" class="control-label">Second Image</label>
                                                <input type="file" name="Photo2" id="Photo2" class="form-control" />

                                            </div>
                                            <div class="form-group">
                                                <label for="Photo3" class="control-label">Third Image</label>
                                                <input type="file" name="Photo3" id="Photo3" class="form-control" />
                                            </div>*@
                                        <div class="form-group">
                                            <label asp-for="CasePrice" class="control-label">Price</label>
                                            <input asp-for="CasePrice" class="form-control" />
                                            <span asp-validation-for="CasePrice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CaseQuantity" class="control-label">Quantity</label>
                                            <input asp-for="CaseQuantity" class="form-control" />
                                            <span asp-validation-for="CaseQuantity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CaseFactorySize" class="control-label">Factory Size</label>
                                            <input asp-for="CaseFactorySize" class="form-control" />
                                            <span asp-validation-for="CaseFactorySize" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="Case">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery.min.js"></script>
<script>
    function getImage(imagename,image) {
        var newimg = imagename.replace(/^.*\\/, "");
        $('#display-image').html(newimg);
        //https://www.youtube.com/watch?v=dvyvikylNmI
        // هحدد الصوره اللي ضغط عليها و امسحها و احط مكانها اللي اختارها الجديده
    //    $('#img_'+image).
    }
</script>