@model BLL.ViewModel.RamVM

@{
    ViewData["Title"] = "UpdateRam";
    var brands = ViewBag.Brands;
    var counter = 1;
}
<style>
    .container {
        position: relative;
        min-width: 170px;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
        max-height: 140px;
        min-height: 140px;
    }

    .overlay {
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 83%;
        opacity: 0;
        transition: .3s ease;
        background-color: #00000078;
    }

    .container:hover .overlay {
        opacity: 1;
    }

    .icon {
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
    }
</style>
<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active"> Processor </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Update Processor</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-action="UpdateRam" enctype="multipart/form-data">

                                        <div class="form-group">
                                            <label asp-for="RamCode" class="control-label">Code</label>
                                            <input placeholder="R10" asp-for="RamCode" class="form-control" />
                                            <span asp-validation-for="RamCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RamName" class="control-label">Name</label>
                                            <input asp-for="RamName" class="form-control" />
                                            <span asp-validation-for="RamName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RamBrandId" class="control-label">Brand</label>
                                            <select asp-for="RamBrandId" class="form-control">
                                                @if (brands != null)
                                                {
                                                    foreach (var item in brands)
                                                    {

                                                        <option value="@item.BrandId">@item.BrandName</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group" style="display:flex">
                                            @if (Model.Image.Count() != 0)
                                            {
                                                foreach (var image in Model.Image)
                                                {
                                                    <div class="container" id="container_@image.GetHashCode()">
                                                        <img id="img_@image.GetHashCode()" src="~/Images/@image" alt="@Model.RamCode" class="image img-responsive img-thumbnail">
                                                        <div class="overlay">
                                                            <label for="firstimg_@image"><i class="fa fa-plus icon"></i></label>
                                                            <input type="file" name="Photo_@counter" id="firstimg_@image" style="display:none;visibility:none;" onchange="getImage(this.files[0],@image.GetHashCode());" />
                                                        </div>
                                                    </div>
                                                    counter++;
                                                }
                                            }
                                            else
                                            {
                                                for (int i = 1; i <= 3; i++)
                                                {
                                                    <div class="container" id="container_@i">
                                                        <i id="icon_@i" class="fa fa-plus icon"></i>
                                                        <img id="img_@i" src="" class="image img-responsive img-thumbnail">
                                                        <div class="overlay">
                                                            <label for="firstimg_@i"><i class="fa fa-plus icon"></i></label>
                                                            <input type="file" name="Photo_@i" id="firstimg_@i" style="display:none;visibility:none;" onchange="getImage(this.files[0],@i);" />
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RamPrice" class="control-label">Price</label>
                                            <input asp-for="RamPrice" class="form-control" />
                                            <span asp-validation-for="RamPrice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RamQuantity" class="control-label">Quantity</label>
                                            <input asp-for="RamQuantity" class="form-control" />
                                            <span asp-validation-for="RamQuantity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RamSize" class="control-label">Size</label>
                                            <input asp-for="RamSize" class="form-control" />
                                            <span asp-validation-for="RamSize" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RamFrequency" class="control-label">Frequency</label>
                                            <input asp-for="RamFrequency" class="form-control" />
                                            <span asp-validation-for="RamFrequency" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RamType" class="control-label">Type</label>
                                            <input asp-for="RamType" class="form-control" />
                                            <span asp-validation-for="RamType" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Ramkits" class="control-label">Kits</label>
                                            <input asp-for="Ramkits" class="form-control" />
                                            <span asp-validation-for="Ramkits" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Add" class="btn btn-default" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="Ram">Back to List</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    function getImage(imagevalue, image) {
        debugger;
        if (imagevalue) {
            let reader = new FileReader();
            reader.onload = function (event) {
                $('#icon_' + image).remove();
                $('#img_' + image).attr("src", event.target.result);
            };
            reader.readAsDataURL(imagevalue);
        }
    }

</script>






