@model BLL.ViewModel.CaseVM

@{
    ViewData["Title"] = "UpdateCase";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var brands = ViewBag.Brands;
}
<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active"> Case </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Update Case</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form method="post" asp-action="UpdateCase" enctype="multipart/form-data">

                                        <div class="form-group">
                                            <label asp-for="CaseCode" class="control-label">Code</label>
                                            <input  asp-for="CaseCode" class="form-control" />
                                            <span asp-validation-for="CaseCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CaseName" class="control-label">Name</label>
                                            <input asp-for="CaseName" class="form-control" />
                                            <span asp-validation-for="CaseName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CaseBrandId" class="control-label">Brand</label>
                                            <select asp-for="CaseBrandId" class="form-control">
                                                @if (brands != null)
                                                {
                                                    foreach (var item in brands)
                                                    {

                                                        <option value="@item.BrandId">@item.BrandName</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group" style="display:flex">
                                        @if(Model.Image!=null){
                                            foreach (var image in Model.Image)
                                            {
                                               
                                                    <img src="~/Images/Case/@image"  alt="@Model.CaseName" class="img-responsive img-thumbnail" width="150px">

                                                }
                                            }
                                            else
                                            {
                                                <p>---</p>
                                            }

                                        </div>
                                         <div class="form-group">
                                            <label for="Photo" class="control-label">Images</label>
                                            <input type="file" name="Photo" id="Photo" multiple class="form-control" />
                                           
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CasePrice" class="control-label">Price</label>
                                            <input asp-for="CasePrice" class="form-control" />
                                            <span asp-validation-for="CasePrice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CaseQuantity" class="control-label">Quantity</label>
                                            <input asp-for="CaseQuantity" class="form-control" />
                                            <span asp-validation-for="CaseQuantity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CaseFactorySize" class="control-label">Factory Size</label>
                                            <input asp-for="CaseFactorySize" class="form-control" />
                                            <span asp-validation-for="CaseFactorySize" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="Case">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

